.header {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: rgb(26, 26, 26);
    color: rgb(179, 179, 179);
    box-shadow: 0 8px 6px -6px black;
    z-index: 100;
}

.header--item {
    margin: auto;
    cursor: pointer;
    padding: 5px; 
}