body,html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.app-content {
  display: flex;
  justify-content: center;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
  overflow-x: hidden;
}

.content__wrapper {
  height: auto;
  width: calc(100vw - 25rem);
  min-width: 287px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #6F603F;
}

.caption span.border {
  /* background-color: #BEA36E; */
  color: #F4F2E2;
  padding: 20px;
  font-size: 80px;
  letter-spacing: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 1100px) {
  .content__wrapper {
    width: calc(100vw - 22rem);
  }
}
@media only screen and (max-width: 1000px) {
  .content__wrapper {
    width: calc(100vw - 20rem);
  }
}
@media only screen and (max-width: 900px) {
  .content__wrapper {
    width: calc(100vw - 18rem);
  }
}
@media only screen and (max-width: 720px) {
  .content__wrapper {
    width: calc(100vw - 15rem);
  }
}
@media only screen and (max-width: 360px) {
  .content__wrapper {
    width: calc(100vw - 3rem);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.parallax {
  margin-top: 50px;
  /* The image used */
  background-image: url('./imgs/dsc_0733.jpg');

  /* Full height */
  height: 100vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 125px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
