body,html {
  height: 100%;
}

.app-content {
  display: flex;
  justify-content: center;
}

.app-wrapper {
  height: calc(100vh - 1rem);
  width: calc(100vw - 2rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
  overflow-y: scroll;
  flex-grow: 2;
}

.about-me__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 25rem);
  height: auto;
  flex: 1 0 auto;
  align-content: flex-start;
}

.job-history__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 25rem);
  height: auto;
}

.education__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 25rem);
  height: auto;
}
.about-me__wrapper, .job-history__wrapper, .education__wrapper {
  min-width: 287px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 1100px) {
  .about-me__wrapper, .job-history__wrapper, .education__wrapper {
    width: calc(100vw - 22rem);
  }
}
@media only screen and (max-width: 1000px) {
  .about-me__wrapper, .job-history__wrapper, .education__wrapper {
    width: calc(100vw - 20rem);
  }
}
@media only screen and (max-width: 900px) {
  .about-me__wrapper, .job-history__wrapper, .education__wrapper {
    width: calc(100vw - 18rem);
  }
}
@media only screen and (max-width: 720px) {
  .about-me__wrapper, .job-history__wrapper, .education__wrapper {
    width: calc(100vw - 15rem);
  }
}
@media only screen and (max-width: 360px) {
  .about-me__wrapper, .job-history__wrapper, .education__wrapper {
    width: calc(100vw - 3rem);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
